[Unit]
Description=Prometheus BIND Exporter Server

[Service]
User={{ exporters_system_user }}
Group={{ exporters_system_group }}
ExecStart=/usr/local/bin/{{ item.name }} \
    -web.listen-address ":{{ item.port }}" \
    -bind.stats-url "http://{{ inventory_hostname }}:{{ exporters_dns_stats_port }}"

[Install]
WantedBy=multi-user.target
