{{ ansible_managed | comment }}

[Unit]
Description=prometheus {{ item.name }} exporter
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/{{ item.name }} \
    --port={{ item.port }} \
    --docker_only=true

SyslogIdentifier=exporters
Restart=always

[Install]
WantedBy=multi-user.target
