[Unit]
Description=Prometheus Postgres Exporter Server

[Service]
User=postgres
Environment="DATA_SOURCE_NAME={{ exporters_postgres_datasource }}"
ExecStart=/usr/local/bin/{{ item.name }} \
    --web.listen-address {{ item.port }}

[Install]
WantedBy=multi-user.target
