---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: {{ item.name }}
    app.kubernetes.io/version: {{ item.version }}
  name: {{ item.name }}
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ item.name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ item.name }}
        app.kubernetes.io/version: {{ item.version }}
    spec:
      containers:
      - image: {{ item.image }}:v{{ item.version }}
        args:
          - '--telemetry-port={{ item.check_port }}'
          - '--port={{ item.port }}'
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ item.port }}
          initialDelaySeconds: 5
          timeoutSeconds: 5
        name: {{ item.name }}
        ports:
        - containerPort: {{ item.port }}
          name: http-metrics
        - containerPort: {{ item.check_port }}
          name: telemetry
        readinessProbe:
          httpGet:
            path: /
            port: {{ item.check_port }}
          initialDelaySeconds: 5
          timeoutSeconds: 5
        securityContext:
          runAsUser: 65534
      nodeSelector:
        kubernetes.io/os: linux
        type: infra
      serviceAccountName: {{ item.name }}
