---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ item.name }}
    app.kubernetes.io/version: {{ item.version }}
  name: {{ item.name }}
  namespace: kube-system
spec:
  clusterIP: None
  ports:
  - name: http-metrics
    port: {{ item.port }}
    targetPort: http-metrics
  - name: telemetry
    port: {{ item.check_port }}
    targetPort: telemetry
  selector:
    app.kubernetes.io/name: {{ item.name }}
